/*
Colors used:
Text Color (Dark Gray): #2b2b2b;
Background Color (light Blue/Gray): rgb(247, 247, 247);
Secondary Color (Orange): #e0b354;

Fonts:
font-family: 'Gloock', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;

Style: 
font-style: italic;
font-variant: small-caps;
text-decoration: underline;
font-weight: bold;

Attribute Selector:
input[type=”text”]
 */

/* CSS VARIABLES */
/* CSS VARIABLES */

:root {
	--background-color: rgb(247, 247, 247);
	--background-color-grid-item: rgb(228, 244, 250);
	--background-color-dark: rgb(58, 19, 6);
	--background-color-about-table-th: #036c84;
	--background-color-experience-type: #cedfe6;
	--background-color-button: #036c84;
	--primary-color: #357b70;
	--secondary-color: #e93e0f;
	--dark-grey: #2b2b2b;
	--hover-color: #0683e8;
	--font-size: 16px;
	--font-weight: 400px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	/* background-color: $background-color; */
	/* font-family: "Roboto", sans-serif; */
	/* font-family: "Gloock", serif; */
	/* font-family: "Lato", sans-serif; */
	font-family: "Playfair Display", serif;
	font-weight: var(--font-weight);
	font-size: var(--font-size);
}
div {
	/* background-color: var(--background-color-grid-item); */
	/* Adds a 10px inner spacing to all sides */
	padding: 10px;
	/* Adds a 10px outer spacing to all sides */
	/* margin: 10px 20px; */
	border: 1px solid black;
	border-radius: 5px;
	/* Attributes describe: thickness, type, color */
}
.hidden {
	visibility: hidden;
}
.noborder {
	border: none;
}
.nocolor {
	background-color: var(--background-color);
}
.centered {
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 35px;
	font-weight: 700;
	/* font-weight: bold; */
}
.header__title {
	text-align: center;
}
h2 {
	font-size: 24px;
	font-weight: 400;
}
h3 {
	font-size: 18px;
	font-weight: 700;
}
h4 {
	font-weight: 700;
}
.bold {
	font-weight: 700;
}

/* Hyperlinks */

a {
	color: var(--primary-color);
	/* color: $primary-color; */
	transition: color 1s;
	font-size: 20px;
}
a:visited {
	/* visited link */
	color: var(--secondary-color);
}
a:hover,
a:focus {
	/* No underlining when hovering over a link */
	text-decoration: none;
	color: var(--hover-color);
}
a:active {
	/* selected link */
	color: var(--dark-grey);
}

/* BUTTONS */

button,
.button {
	/* overwrites browser defaults and resets the border */
	border: none;
	/* takes the font from the outer container */
	font-family: inherit;
	box-shadow: 1px 1px 10px 0px rgb(41, 39, 39);
	/* styles the background color, font color, and text decoration (underline, etc.) of the button */
	background-color: var(--background-color-button);
	color: white;
	text-decoration: none;
	/*adds spacing to the button (this will be discussed more in-depth later) */
	padding: 10px;
	margin: 5px auto;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	/* TRANSITIONS */
	/* transition: [transition-property] [transition-duration] 
    [transition-timing-function] [transition-delay]; */
	/* transition-property: opacity;
    transition-duration: 0.5s; */
	transition: opacity 0.5s;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
	/* lets the mouse appear as a hand when hovering over the button */
	cursor: pointer;
	color: white;
	box-shadow: none;
	/* reduces the opacity of the button to 80% */
	opacity: 0.75;
}
.button-search {
	padding: 10px 30px;
}

/* CROSS LINE */
hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.25)
	);
}

/* END OF GENERAL SETTINGS */

/**********************************************************/

/* HEADER FOR ALL PAGES */

/* HEADER NAV-BAR USES "DISPLAY = FLEX" */

/* Make the header a Flex-box which will include 2 items */
.page-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1;
	/* justify-content: space-between; */
	align-items: center;
}
.welcome-title {
	grid-column-start: 2;
	text-align: center;
}

.page-header__logo--images {
	width: 150px;
	height: 150px;
	border-radius: 50px;
}

/* POKEMON SPECIFIC */

.red {
	color: red;
}
.green {
	color: green;
}
.purple {
	color: purple;
}
.pokemon-search {
	display: flex;
	flex-direction: column;
	max-width: 200;
}
.pokemon-search__item {
	/* border: 1px solid black; */
	/* flex-direction: column; */

	justify-content: center;
	/* align-items: center; */
	/* justify-items: center; */

	/* color: red; */
}
.pokemon-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1;
}
.pokemon-list {
	grid-column-start: 2;
	/* margin: 0px auto; */
	/* text-align: center; */
}
.pokemon-list__item {
	list-style-type: none;
	text-align: center;
}
.pokemon-button {
	width: 150px;
}
.message-loading {
	position: fixed;
	/* border: 1px solid black; */
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 1px 1px 10px 0px rgb(41, 39, 39);
	top: 0px;
	right: 0px;
}
.hidden {
	display: none;
}
/* /////////////////////////////////////////////// */
/*  MODAL  */
#modal-container {
	display: none;
}

#modal-container.is-visible {
	position: fixed;
	padding: 20px;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);

	/* to show it above other content */
	z-index: 999;

	/* to allow scrolling if the screen is not high enough*/
	overflow: auto;
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	box-sizing: border-box;
	background: #fff;
	padding: 15px;
	width: 80%;
	max-width: 700px;
	min-width: 500px;
	height: 350px;
	display: flex;
	align-items: center;
	border-radius: 9px;
}
.modal-image {
	width: 300px;
	border: 1px solid black;
	box-shadow: 1px 1px 10px 0px rgb(41, 39, 39);

	border-radius: 9px;
}
.modal-text {
	box-shadow: 1px 1px 10px 0px rgb(41, 39, 39);
	border-radius: 9px;
	text-align: center;
	justify-content: center;
	margin-left: 30px;
}
.modal h1 {
	padding: 20px;
	text-transform: capitalize;
}
.modal h4 {
	/* grid-column-start: 2; */
	margin-left: 0;
	box-shadow: none;
}

button.modal-close {
	align-self: flex-start;
	/* margin-right: inherit; */
	/* margin-left: auto; */
	margin-right: 2px;
	border: 0;
	background: none;
	color: #000000;
	border: 1px solid rgb(194, 191, 191);
	border-radius: 9px;
	text-decoration: underline;
}
button.modal-close:hover {
	box-shadow: none;
}

/* DISPLAY FOR 600px to 900px */

@media all and (min-width: 450px) and (max-width: 850px) {
	.modal {
		width: 80%;
		/* max-width: 700px; */
		/* min-width: 500px; */
		/* height: 350px; */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal-image {
		margin-left: 10px;
		width: 200px;
	}
	.modal-text {
		margin-left: 60px;
	}
	.modal h1 {
		padding: 10px;
	}
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
		font-weight: 400;
	}
	h3 {
		font-size: 18px;
		font-weight: 700;
	}
	h4 {
		font-weight: 700;
	}
}

@media all and (max-width: 450px) {
	.modal {
		/* width: 80%; */
		margin-left: 0%;
		padding-top: 0%;
		margin-top: 0%;
		max-width: 450px;
		min-width: 300px;
		/* height: 350px; */
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;
	}
	.modal-image {
		margin-left: 10px;
		width: 150px;
	}
	.modal-text {
		margin-top: 10px;
		margin-left: 6px;
	}
	button.modal-close {
		order: -1;
		margin-top: 0%;
	}
	.modal h1 {
		padding: 5px;
	}
	body {
		font-size: 10px;
	}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 16px;
		font-weight: 400;
	}
	h3 {
		font-size: 14px;
		font-weight: 700;
	}
	h4 {
		font-weight: 700;
	}
}
